.showcase-container {
  position: relative;
  width: 1202px;
  margin: 0 auto;
  aspect-ratio:  1202/ 954; /* 背景画像の縦横比 */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* 背景 */
.showcase-img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.cake-area {
  position: absolute;
  
  width: 90%;
  height: 100%;
  bottom: 265px;
  z-index: 2;
  
}

/* 各段 */
.showcase-tier {
  position: absolute;
  width: 100%; 
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 3;
  overflow: visible;
}

.showcase-category-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 20px 0 10px;
}

/* ケーキ＋皿 */
.cake-item {
  position: relative;
  height:100%;
  width: 25%; 
   z-index: 4;
   transition: transform 0.25s ease, z-index 0s;
}

/* 皿 */
.name-plate {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 z-index:5;
}

.name-plate-img {
 width: 100%;
 height: 100%;
 position: absolute;
 bottom: 0;
  left: 0;
  object-fit: fill;
  z-index: 6;
}

.name-plate p {
  position: relative;
  color: #3a2d1a;  /* お皿に合うように少し濃いブラウン */
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 7;
}

/* ケーキ画像 */
.cake-img {
  position: absolute;
  bottom:20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 80%;
  object-fit: contain;
  z-index:5;
}

/* hover effect */
.cake-item:hover {
  transform: scale(1.15);
}
